.App {
    text-align: center;
}

.container {
    margin: 150px;
    padding: 250px;
    align-items: center;
    justify-content: center;
}

.App {
    text-align: center;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 90vh;
    padding: 14px;
}

.header {
    background-color: aqua;
    margin-top: auto;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    background-color: blue;
    color: white;
    padding: 15px;
    margin: 15px;
}

.heading {
    color: black;
    font-size: 80px;
    margin: 10px;
}